<IfModule mod_headers.c>
    Alias "/.well-known/acme-challenge" "<%= acme_proofs_dir %>"
    <Directory "<%= acme_proofs_dir %>">
        Header set Content-Type "application/jose+json"
    </Directory>
</IfModule>